@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "TT Norms Pro Regular";
    font-style: normal;
    font-weight: normal;
    src: local("TT Norms Pro Regular"),
      url(./fonts/TT-Norms-Pro-Regular.woff) format("woff");
  }

  @font-face {
    font-family: "TT Norms Pro Italic";
    font-style: normal;
    font-weight: normal;
    src: local("TT Norms Pro Italic"),
      url(./fonts/TT-Norms-Pro-Italic.woff) format("woff");
  }

  @font-face {
    font-family: "TT Norms Pro Bold";
    font-style: normal;
    font-weight: normal;
    src: local("TT Norms Pro Bold"),
      url(./fonts/TT-Norms-Pro-Bold.woff) format("woff");
  }

  @font-face {
    font-family: "TT Norms Pro Bold Italic";
    font-style: normal;
    font-weight: normal;
    src: local("TT Norms Pro Bold Italic"),
      url(./fonts/TT-Norms-Pro-Bold-Italic.woff) format("woff");
  }
}

button:focus {
  outline: 0px;
}
